#full line comment test
export EXPORTTEST=Value #ENDLINECOMMENT
NORMALTEST=VALUE
NORMAL_INTERPOLATION_TEST=${VALUE}OTHERVALUE
STRING_TEST="STRING_HERE"
STRING_WITH_INTERPOLATION="STRING_${VALUE}_MORESTRING"
STRING_WITH_HASHTAG_TEST="STRING #THIS SHOULDNT BE A COMMENT"
STRING_WITH_COMMENT_TEST="STRING HERE" #THIS SHOULD BE A COMMENT
SINGLE_QUOTED_STRING_TEST='STRING HERE'
SINGLE_QUOTED_STRING_NO_INTERPOLATION_TEST='STRING HERE ${SHOULD_NOT_BE_INTERPOLATED}'
ESCAPE_CHARACTER_TEST="BLAH \n \r \t \f \b \" \' \\ \u29FA BLAH"
ESCAPE_CHARACTER SINGLE_QUOTE_TEST= 'BLAH \n \r \t \f \b \" \' \\ \u29FA BLAH'
